header{
    display: flex;
    justify-content: space-between; /*um para cada lado, verifica usando a inspeção*/
    text-align: center;
    font-family: "roboto", sans-serif;
    
    
}

#header{
    display: flex; /* auxilia na criação da margem entre os itens */
    gap: 48px; /*só existe quando uso o display fles*/
    list-style: none; /* não mostra os pontos da lista*/
    margin: 0 ;
    padding: 0;



}

body{

background-color: bisque;
font-family: "roboto", sans-serif;
text-align: center;
display: block;
margin: 8px;
}

footer{
    display: flex;
    justify-content: space-between; /*um para cada lado, verifica usando a inspeção*/
    text-align: center;
    font-family: "roboto", sans-serif;

}

#foo{
    display: flex; /* auxilia na criação da margem entre os itens */
    gap: 48px; /*só existe quando uso o display fles*/
    list-style: none; /* não mostra os pontos da lista*/
    margin: 0 ;
    padding: 0;



}

#alunos{

    display: flex; /* auxilia na criação da margem entre os itens */
    gap: 48px; /*só existe quando uso o display fles*/
    list-style: none; /* não mostra os pontos da lista*/
    margin: 0 ;
    padding: 0;
    

    
}

a{
    color: #1f1534;
    text-decoration: none;


}

#imagem_home1, #imagem_home2{

width: 30%;
height: 30%;
display: flex;
justify-content: center;



}
div{
  
    display: flex;
    flex-direction: column;
    align-items: center;
    
    }
    img{
        border-radius: 30px;
        width: 300px;
        height: auto;
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
        }